header{
    background-color: black;
    color: white;
    padding: 20px;
    padding-bottom: 30px;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
}

.card{
    width: 200px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;   
}